@import url('base/animations.css');
@import url('base/cursor.css');
@import url('base/custom-scroll.css');
@import url('base/fonts.css');
@import url('base/html.css');
@import url('base/primitive.css');
@import url('base/start.css');
@import url('base/utilities.css');
@import url('base/variables.css');

@import url('brand/header.css');

@import url('components/answerOption.css');
@import url('components/card.css');
@import url('components/preview-cards.css');
@import url('components/container.css');
@import url('components/gabarito.css');
@import url('components/modal.css');
@import url('components/modal-confirm.css');
@import url('components/passo-explicacao.css');
@import url('components/question.css');
@import url('components/sidebar.css');
@import url('components/status.css');
@import url('components/tags.css');

@import url('elements/badge.css');
@import url('elements/button.css');
@import url('elements/form.css');
@import url('elements/promptTitle.css');

@import url('functions/alerts.css');
@import url('functions/recortar.css');
@import url('functions/undo-toast.css');

@import url('handlers/alts.css');
@import url('handlers/animations.css');
@import url('handlers/coerencia.css');
@import url('handlers/data.css');
@import url('handlers/drag-handle.css');
@import url('handlers/error.css');
@import url('handlers/field.css');
@import url('handlers/icon.css');
@import url('handlers/info.css');
@import url('handlers/json.css');
@import url('handlers/loading.css');
@import url('handlers/review.css');
@import url('handlers/steps.css');
@import url('handlers/thoughts.css');
@import url('handlers/toogle-mode.css');

@import url('mobile/dropdown.css');

@import url('pdf/canvas.css');
@import url('pdf/checkbox.css');
@import url('pdf/controller.css');
@import url('pdf/extraction.css');
@import url('pdf/gallery-modal.css');
@import url('pdf/label.css');
@import url('pdf/navegation.css');
@import url('pdf/upload.css');
@import url('pdf/viewer.css');

@import url('responsivity/mobile.css');

@import url('result/complexidade.css');
@import url('result/creditos.css');
@import url('result/filtros.css');
@import url('result/layout.css');
@import url('result/passo-a-passo.css');
@import url('result/questao.css');
@import url('result/resolucao.css');
@import url('result/relatorio.css');

@import url('wrappers/input.css');